{% if author.website %}
<li>
  <a href="{{ author.website }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="icon-ah-logo-no-color" aria-hidden="true"></i> AnthonyHinton.com
  </a>
</li>
{% endif %}

{% if author.goodreads %}
<li>
  <a href="{{ author.goodreads }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="fab fa-fw fa-goodreads" aria-hidden="true"></i> Goodreads
  </a>
</li>
{% endif %}

{% if author.linkedin %}
  <li>
    <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
    </a>
  </li>
{% endif %}

{% if author.discogs %}
<li>
  <a href="https://www.discogs.com/user/{{ author.discogs }}/collection" itemprop="sameAs" rel="nofollow noopener noreferrer">
    <i class="icon-discogs" aria-hidden="true"></i> Discogs
  </a>
</li>
{% endif %}

{% if author.github %}
  <li>
    <a href="https://github.com/{{ author.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
    </a>
  </li>
{% endif %}

{% if author.email %}
  <li>
    <a href="mailto:{{ author.email }}">
      <meta itemprop="email" content="{{ author.email }}" />
      <i class="far fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}
    </a>
  </li>
{% endif %}
