---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.source_link {
  color: $primary-color;
}

.page__taxonomy-item.custom {
  color: $primary-color;
  margin-bottom: 0px;
  padding: 3px 8px;
}

#homepage_post_header {
  margin: 0;

  div {
    margin: 0;
    display: inline-block;
  }
}
