---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.source_link {
  color: $primary-color;
}

.page__taxonomy-item.custom {
  // color: $primary-color;
  margin-bottom: 0px;
  padding: 3px 8px;
}

#homepage_post_header {
  margin: 0;
  width: 100%;

  div {
    margin: 0;
    display: inline-block;
  }
}

#homepage_post_header_post_title {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#homepage_post_header_color {
  color: $primary-color;
}

#excerpt_attribution {
  margin-bottom: 0.5em;
}

.test {
  line-height: 0px;
}
